:root {
  background: #e3edfb;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */

article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--card-padding);
  gap: 0.5rem;
}

img + div {
  grid-column: span 2;
}

img {
  width: var(--image-width);
  border-radius: 100%;
}

p + div {
  display: flex;
}

h1 {
  font-size: var(--font-heading);
}

svg {
  color: var(--color-icon);
  width: 25px;
  height: 25px;
}
